<%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>
<div class="row g-3">
  <% @lists.each do |list| %>
    <div class="col-4">
      <div class="card h-100">
        <div class="card-body">
          <div class="card-title"><%= list.name %></div>
          <%= link_to "go to details", list_path(list), class: "btn btn-primary" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
