<div class="container">
  <h1>My watch list</h1>
  <div class="row">
    <% @lists.each do |list| %>
      <div class="col-4">
        <div class="card">
          <h2><%= list.name %></h2>
          <%= link_to "go to details", list_path(list), class: "btn btn-primary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
