<div class="flex-grow-1 overflow-auto p-3 overflow-y-auto overflow-x-hidden" style="scrollbar-width: none;">
  <div class="row g-3">
    <% @lists.each do |list| %>
      <div class="col-md-4 col-sm-6">
        <div class="card h-100">
          <div class="card-header">
            <%= list.name %>
          </div>
          <%= link_to "Details", list_path(list), class: "btn btn-primary" %>
          <% if list.user == current_user %>
            <%= link_to "Delete", list_path(list), data: { turbo_method: :delete, turbo_confirm: "Are you sure?" }, class: "btn btn-delete w-100" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
</div>
<% if user_signed_in? %>
  <div class="flex-shrink-0 border-top d-flex flex-column gap-3 p-3">
    <%= link_to "Create new list", new_list_path, class: "btn btn-primary" %>
  </div>
<% end %>
