<h1>New List</h1>
<%= simple_form_for @list do |f| %>
  <%= f.input :name, label: "What's the name of your list?", required: false, input_html: { autofocus: true } %>
  <%= f.button :submit, class: "btn btn-primary" %>
<% end %>
<%= link_to "Back", lists_path, class: "btn btn-primary" %>
